{% extends 'basic.html' %} {% block title %}Dashboard {% endblock title %} {% block body %}
{% load app_tags %}
{% now "m-d-Y" as today %}
<h3 class="text-center  text-success">My Bookings </h3>
<table class="table">
    <thead>
        <th>User</th>
        <th>Room</th>
        <th>Location</th>
        <th>Person</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Price</th>
        <th>Extra Facilities</th>
        <th>Rating</th>  <!-- 新增評分列標題 -->
        <th colspan="2">Actions</th>
    </thead>
    {% for each_booking in bookings %}
    <tr>
        <td>{{each_booking.guest.username}}</td>
        <td>{{each_booking.room.roomnumber}}</td>
        <td>{{each_booking.room.hotel.location}}</td>
        <td>{{each_booking.room.capacity}}</td>
        <td>{{each_booking.check_in|date:"m-d-Y"}}</td>
        <td>{{each_booking.check_out|date:"m-d-Y"}}</td>
        <td>{{each_booking.room.price}}</td>
        <td>
            {% if each_booking.facilities %}
                {% if each_booking.facilities == 1 %}
                    Swimming Pool
                {% else %}
                    Gym
                {% endif %}
            {% else %}
                <form method="POST" action="{% url 'book_facilities' each_booking.id %}">
                    {% csrf_token %}
                    <select name="facilities">
                        <option value="">Choose...</option>
                        <option value="1">Swimming Pool</option>
                        <option value="2">Gym</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% endif %}
        </td>
        <td>
            {% if each_booking.check_out|date:"m-d-Y" < today %}
                {% if each_booking.rating %}
                    Rated: {{ each_booking.rating }} stars
                {% else %}    
                <form method="post" action="{% url 'rate_booking' each_booking.id %}">
                    {% csrf_token %}
                    <select name="rating">
                        <option value="">Rate...</option>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% endif %}
            {% else %}
                Not available for rating
            {% endif %}  
             
        </td>
        <td>
            <div class="d-flex flex-column">
                <div class="mb-2">
                    <a href="{% url 'chat_box' each_booking.id %}" class="btn btn-primary">Message</a>
                </div>
                <div>
                    <form method="post" action="{% url 'delete_booking' each_booking.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}


</table>
{% endblock body %}