{% extends 'basic.html' %}

{% block title %}Chat{% endblock title %}

{% block body %}
<h1 class="text-center bg-warning my-0">Staff Chat Box</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xlg-6 col-sm-12 mx-auto">
            <div id="message-container" class="mb-4">
                {% for chat in chats %}
                    <div>{{ chat.sender.username }}: {{ chat.content }}</div>
                {% endfor %}
            </div>
            <form method="POST" action="{% url 'staff_chat_box' reservation.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="msg_content">New Message:</label>
                    <textarea id="msg_content" name="msg_content" rows="4" cols="50"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
