{% extends 'basic.html' %}

{% block title %}Contact Us{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2 class="text-center mt-5 mb-4">Contact Us</h2>
            <p>請隨時與我們的小組成員聯繫，如果您有任何疑問、建議或合作意向，我們將竭誠為您服務。</p>
            <h3 class="mt-5">小組成員</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>學號</th>
                        <th>系所</th>
                        <th>電子郵件</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>吳映儒</td>
                        <td>61247075S</td>
                        <td>資工所</td>
                        <td>61247075s@gapps.ntnu.edu.tw</td>
                    </tr>
                    <tr>
                        <td>劉俞均</td>
                        <td>61247002S</td>
                        <td>資工所</td>
                        <td>61247002s@gapps.ntnu.edu.tw</td>
                    </tr>
                    <tr>
                        <td>李婕寧</td>
                        <td>40947015S</td>
                        <td>資訊工程系</td>
                        <td>40947015s@gapps.ntnu.edu.tw</td>
                    </tr>
                    <tr>
                        <td>林孝欣</td>
                        <td>41147043S</td>
                        <td>資訊工程系</td>
                        <td>41147043s@gapps.ntnu.edu.tw</td>
                    </tr>
                    <tr>
                        <td>陳采藜</td>
                        <td>40847022S</td>
                        <td>資訊工程系</td>
                        <td>40847022s@gapps.ntnu.edu.tw</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
